# If, Elif & Else Statements

**Control Flow** allows us to execute certain code based on certain conditions.

The syntax makes use of colons `:` and whitespace.

```python
if some_condition:
    # execute some code
elif some_other_condition
    # execute some other code
else
    # do something else
```

In [3]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [1]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

FEED ME!

loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

In [4]:
name = 'Sam'

if name == 'Frank':
    print("Hello Frank")
elif name == 'Sam':
    print("Hello Sam")
else:
    print("What is your name?")

Hello Sam

# For Loops

For Loops can be used to iterate through Python iterables.

```python
my_iterable = [1, 2, 3]
for item_name in my_iterable:
    print(item_name)
```

In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [8]:
for x in mylist:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [8]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [9]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    list_sum += num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [10]:
for x in 'Hello World':
    print(x)

H
e
l
l
o

W
o
r
l
d

In [30]:
word = 'Hello World'
for letter in word:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [31]:
tup = (1,2,3,'s')

for item in tup:
    print(item)

1
2
3
s

In [34]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [35]:
len(mylist)

4

In [15]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [38]:
for (a,b) in mylist:
    print(b)

2
4
6
8

In [39]:
mylist = [(1,2,3), (4,5,6), (7,8,9), (1,2,4)]

In [40]:
for a,b,c in mylist:
    print(b)

2
5
8
2

In [42]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [24]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [43]:
for key, value in d.items():
    print(key, value)

1
2
3

In [27]:
for value in d.values():
    print(value)

1
2
3

# While Loops

While Loops will continue to execute a block of code while some condition remains True.

```python
while some_boolean_condition:
    # do something
else:
    # do something different
```

In [29]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

## break, continue, pass

`break` : Breaks out of the current closest enclosing loop.  
`continue` : Goes to the top of the closest enclosing loop.  
`pass` : Does nothing at all. *(handy for checking if execution reaches certain code)*

In [44]:
x = [1,2,3]

for item in x:
    # comment
    print(item)
    pass

print('end of my script')

1
2
3
end of my script

In [32]:
for letter in 'Sammy':
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [33]:
for letter in 'Sammy':
    if letter =='a':
        break
    print(letter)

S

In [35]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Useful Operators

In [37]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [38]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [40]:
for num in range(2,11,2):
    print(num)

2
4
6
8
10

In [41]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

In [42]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d
At index 0 the letter is e

In [44]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [45]:
for index, letter in enumerate('abcde'):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [46]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [47]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [48]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [50]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [51]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [52]:
'x' in [1,2,3]

False

In [53]:
'x' in ['x','y','z']

True

In [54]:
'a' in 'a world'

True

In [55]:
'mykey' in {'mykey':123}

True

In [56]:
d = {'mykey':345}

345 in d.values()

True

In [57]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [58]:
max(mylist)

100

In [59]:
# to import a library
from random import shuffle

In [60]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [62]:
shuffle(mylist)
mylist

[2, 3, 8, 7, 5, 9, 1, 4, 10, 6]

In [63]:
from random import randint
randint(0,100)

71

In [64]:
randint(0,100)

63

In [65]:
mynum = randint(0,10)
mynum

3

In [66]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [67]:
result = input('What is your name? ')

What is your name? Sherlock

In [68]:
result

'Sherlock'

In [69]:
result = input('Favourite number: ')

Favourite number: 42

In [70]:
type(result)

str

In [74]:
float(result)

42.0

# List Comprehension

In [11]:
mystring = 'hello'

In [12]:
mylist = []

In [13]:
for l in mystring:
    mylist.append(l)

In [16]:
mytuplizedlist = tuple(mylist)
print(mytuplizedlist)
print(mylist)

('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']

In [23]:
ls = [letter for letter in mystring]
print(ls)

['h', 'e', 'l', 'l', 'o']

In [22]:
l = [num for num in range(11)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
list1 = [num**2 for num in range(11)]
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehension with an `if` statement

In [20]:
list2 = [x for x in range(11) if x%2 == 0]
print(list2)

[0, 2, 4, 6, 8, 10]

## C째 to F째 Using List Comprehension

In [18]:
celcius = [0,10,20,34.5]
fahrenheit = [(1.8 * temp + 32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

## C째 to F째 Using a For Loop

In [15]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5) * temp + 32 ))
    
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

## List Comprehension with an `if else` statment

In [17]:
results = [x if x%2 == 0 else 'ODD' for x in range(11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## Nested Loop

In [19]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
        
print(mylist)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [18]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
print(mylist)

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## Python Statements Test Overview

Use `for`, `split()`, and `if` to create a statement that will print out words that start with 's'.  
```python
st = 'Print only the words that start with s in this sentence'
```

In [24]:
st = 'Print only the words that start with s in this sentence'
st = st.split()
print(st)

['Print', 'only', 'the', 'words', 'that', 'start', 'with', 's', 'in', 'this', 'sentence']

In [27]:
for sword in st:
    if sword[0] == 's':
        print(sword)

start
s
sentence

In [28]:
st = 'Print only the words that start with s in this sentence'
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [31]:
s_words = [word for word in st.split() if word[0] == 's']
print(s_words)

['start', 's', 'sentence']

Use `range()` to print all the even numbers from 0 to 10.

In [34]:
even_numbers = []
for num in range(11):
    if num % 2 == 0:
        even_numbers.append(num)
        
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [33]:
even_numbers = [num for num in range(11) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [37]:
davinci = [num for num in range(2,49) if num % 3 == 0]
print(davinci)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Go through the string below and if the length of a word is even print "even!"
```python
st = 'Print every word in this sentence that has an even number of letters'
```

In [39]:
st = 'Print every word in this sentence that has an even number of letters'
print(st.split())

['Print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']

In [43]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word, 'even!')

word even!
in even!
this even!
sentence even!
that even!
an even!
even even!
number even!
of even!

Write a program that prints the integers from 1 to 100.  
But for multiples of 3 print "Fizz" instead of the number,  
and for the multiples of 5 print "Buzz".  
For numbers which are multiples of both 3 and 5 print "FizzBuzz".

In [46]:
for number in range(1,100):
    if number % 3 == 0:
        print("Fizz")
    if number % 5 == 0:
        print("Buzz")
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    else:
        print(number)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizz
Buzz
FizzBuzz
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizz
Buzz
FizzBuzz
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizz
Buzz
FizzBuzz
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
Fizz
Buzz
FizzBuzz
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
Fizz
Buzz
FizzBuzz
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
Fizz
Buzz
FizzBuzz
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99

Use List Comprehension to create a list of the first letters of every word in the string below:
```python
st = 'Create a list of the first letters of every word in this string'
```

In [5]:
st = 'Create a list of the first letters of every word in this string'
first_letters = []

for word in st.split():
    first_letters.append(word[0])
    
print(first_letters)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [7]:
first_letters2 = [word[0] for word in st.split()]
print(first_letters2)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']