In [1]:
mylist = [1,2,3,4]
mylist.pop()

4

In [2]:
mylist

[1, 2, 3]

In [3]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

## The `def` Keyword
```python
def name_of_function():
    '''
    Docstring explains the function
    '''
    print("Hello")
    
name_of_function()
```
```sh
>>> Hello
```

```python
def name_of_function(name):
    '''
    Docstring explains the function
    '''
    print("Hello" + name)
    
name_of_function()
```
```sh
>>> Hello
```

```python
def add_function(num1, num2)
    return num1 + num2

result = add_function(1, 2)
print(result)
```
```sh
>>> 3
```

In [4]:
def say_hello():
    print('hello')

In [5]:
say_hello()

hello

In [9]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [8]:
say_hello('Sunshine')

Hello Sunshine

In [10]:
say_hello()

Hello Default

In [11]:
def add_num(num1, num2):
    return num1 + num2

In [12]:
result = add_num(10, 20)
print(result)

30

In [13]:
def print_result(a, b):
    print(a + b)

In [14]:
def return_result(a, b):
    return a + b

In [16]:
result = print_result(10, 20)

30

In [17]:
print(result)

None

In [18]:
type(result)

NoneType

In [19]:
result = return_result(10, 20)

In [20]:
print(result)

30

In [21]:
type(result)

int

In [24]:
def myfunc(a, b):
    print(a + b)
    return(a + b)

In [23]:
result = myfunc(10, 20)

30

In [25]:
def sum_numbers(num1, num2):
    return num1 + num2

In [26]:
sum_numbers(10, 20)

30

In [27]:
sum_numbers('10', '20')

'1020'

## Logic with Python Functions

In [3]:
def even_check(number):
    result = number % 2 == 0
    return result

# OR

def even_check(number):
    return number % 2 == 0

even_check(20)

True

In [2]:
even_check(21)

False

In [4]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [16]:
def check_even_list(num_list):
    # return all the even numbers in the list
    # placeholder variables
    even_numbers = []
    
    # [1,2,3,4]
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [17]:
check_even_list([1,3,5,7,9])

[]

In [18]:
check_even_list([2,4,5])

[2, 4]

In [25]:
check_even_list([1,1,1,2])

[2]

## Tuple Unpacking with Python Functions

In [29]:
stock_prices = [('APPLE',200), ('GOOGLE',400), ('MICROSOFT', 100)]

In [31]:
for ticker, price in stock_prices:
    print(price+ (0.1 * price))

220.0
440.0
110.0

In [35]:
work_hours = [('Abby',100), ('Billy',4000), ('Cassie',800)]

In [36]:
def employee_check(work_hours):
    current_max = 0
    employee_of_the_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_the_month = employee
        else:
            pass
    
    # Return
    return (employee_of_the_month, current_max)

In [38]:
result = employee_check(work_hours)

In [39]:
print(result)

('Billy', 4000)

In [40]:
name, hours = employee_check(work_hours)

In [41]:
print(name)

Billy

In [42]:
print(hours)

4000

## Interactions between Python Functions

In [43]:
example = [1,2,3,4,5,6,7]

In [44]:
from random import shuffle

In [46]:
shuffle(example)
print(example)

[1, 3, 4, 5, 7, 2, 6]

In [47]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [48]:
result = shuffle_list(example)
print(result)

[7, 2, 6, 4, 1, 5, 3]

In [50]:
mylist = [' ', 'O', ' ']

In [51]:
shuffle_list(mylist)

['O', ' ', ' ']

In [56]:
def player_guess():
    guess = ''
    while guess not in ['0', '1', '2']:
        guess = input('Pick a number 0, 1, or 2 ')
    return int(guess)

In [53]:
player_guess()

Pick a number 0, 1, or 21

1

In [54]:
myindex = player_guess()

Pick a number 0, 1, or 22

In [55]:
print(myindex)

2

In [57]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [64]:
# INITIAL LIST
mylist = [' ', 'O', ' ']

# SHUFFLE LIST
mixed_up_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixed_up_list, guess)

Pick a number 0, 1, or 2 0
Correct!

## Arguments & Keyword Arguments \*args & \**kwargs

In [1]:
def myfunc(a, b):
    # Return 5% of the sum of a and b
    return sum((a, b)) * 0.05

In [2]:
myfunc(40,60)

5.0

In [3]:
def myfunc(a, b, c=0):
    return sum((a, b, c)) * 0.05

In [4]:
myfunc(40, 60, 100)

10.0

In [11]:
# *args packs the parameters into a tuple
def myfunc(*args):
    return sum(args) * 0.05

In [9]:
myfunc(40, 60)

5.0

In [10]:
myfunc(40, 60, 100, 1, 34)

11.75

In [12]:
def myfunc(*args):
    for item in args:
        print(item)

In [13]:
myfunc(40, 60, 100, 1, 34)

40
60
100
1
34

In [16]:
# **kwargs returns a dictionary
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [17]:
myfunc(fruit='apple', veggie='lettuce')

My fruit of choice is apple

In [21]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [22]:
myfunc(10, 20, 30, fruit='orange', food='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [28]:
# *args returns a tuple
# **kwargs returns a dict

def myfunc(*args):
    for item in args:
        print(item)
    
myfunc(7,8,9,8,8)

7
8
9
8
8

In [31]:
def myfunc(*args):
    even_numbers = []
    for num in args:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers

In [32]:
myfunc(5,6,7,8)

[6, 8]

In [91]:
def myfunc(s):
    new_str = ''
    for letter in s:
        if s.index(letter) % 2 != 0:
            new_str += letter.upper()
        if s.index(letter) % 2 == 0:
            new_str += letter.lower()
    return new_str

In [92]:
myfunc('Anthropomorphism')

'aNtHrOpOmOrpHIsm'

## Function Practice Exercises
Problems are arranged in increasing difficulty:

Warmup - these can be solved using basic comparisons and methods  
Level 1 - these may involve if/then conditional statements and simple methods  
Level 2 - these may require iterating over sequences, usually with some kind of loop  
Challenging - these will take some creativity to solve  

**WARMUP SECTION:**

LESSER OF TWO EVENS:  
Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

lesser_of_two_evens(2,4) --> 2  
lesser_of_two_evens(2,5) --> 5

In [8]:
# Our solution
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:
        if a > b:
            return b
        else:
            return a
    if a % 2 != 0 or b % 2 != 0:
        if a > b:
            return a
        else:
            return b
        
# Lecture solution
def lesser_of_two_evens1(a, b):
    if a % 2 == 0 and b % 2 == 0:
        # BOTH NUMBERS ARE EVEN
        if a < b:
            result = a
        else:
            result = b
    else:
        # ONE OR BOTH NUMBERS ARE ODD
        if a > b:
            result = a
        else:
            result = b
    return result

# Refactor
def lesser_of_two_evens2(a, b):
    if a % 2 == 0 and b % 2 == 0:
        # BOTH NUMBERS ARE EVEN
        return min(a,b)
    else:
        # ONE OR BOTH NUMBERS ARE ODD
        return max(a,b)
        
lesser_of_two_evens(2,4)
lesser_of_two_evens(2,5)

5

**ANIMAL CRACKERS:**  
Write a function takes a two-word string and returns True if both words begin with same letter.

animal_crackers('Levelheaded Llama') --> True  
animal_crackers('Crazy Kangaroo') --> False

In [13]:
# Lecture solution
def animal_crackers(text):
    wordlist = text.split()
    first = wordlist[0]
    second = wordlist[1]
    return first[0] == second[0]

# Refactor
def animal_crackers1(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[0][0]

animal_crackers('Levelheaded Llama')
animal_crackers1('Crazy cat')

True

MAKES TWENTY:  
Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False.

makes_twenty(20,10) --> True  
makes_twenty(12,8) --> True  
makes_twenty(2,3) --> False

In [17]:
# Our solution
def makes_twenty(n1, n2):
    if (n1 + n2) == 20 or n1 == 20 or n2 == 20:
        return True
    return False

# Lecture Solution
def makes_twenty1(n1, n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

# Refactor
def makes_twenty2(n1, n2):
    return (n1 + n2) == 20 or n1 == 20 or n2 == 20

makes_twenty(20, 10)
makes_twenty(12, 8)
makes_twenty(2, 3)

False

LEVEL 1 PROBLEMS

OLD MACDONALD:  
Write a function that capitalizes the first and fourth letters of a name.

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [27]:
# Our solution
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

# Lecture solution
def old_macdonald1(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

# Refactor
def old_macdonald2(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

old_macdonald('macdonald')

'MacDonald'

MASTER YODA:  
Given a sentence, return a sentence with the words reversed.

master_yoda('I am home') --> 'home am I'  
master_yoda('We are ready') --> 'ready are We'

Note:  
The .join() method may be useful here.  
The .join() method allows you to join together strings in a list with some connector string.  
For example, some uses of the .join() method:

\>>> "--".join(['a','b','c'])  
\>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence,  
you could just join them with a single space string:

\>>> " ".join(['Hello','world'])  
\>>> "Hello world"

In [41]:
# Lecture solution
def master_yoda(text):
    wordlist = text.split()
    reversed_word_list = wordlist[::-1]
    return ' '.join(reversed_word_list)

master_yoda('I am home')

'home am I'

**ALMOST THERE: Given an integer `n`, return `True` if `n` is within 10 of either 100 or 200.**

`almost_there(90)` --> `True`  
`almost_there(104)` --> `True`  
`almost_there(150)` --> `False`  
`almost_there(209)` --> `False`

NOTE: `abs(num)` returns the absolute value of a number.

In [21]:
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

# Level 2 Problems

**Find 33:**

Given a list of `ints`, return `True` if the array contains a 3 next to a 3 somewhere.

`has_33([1, 3, 3])` -> `True`  
`has_33([1, 3, 1, 3])` -> `False`  
`has_33([3, 1, 3])` -> `False`

In [31]:
def has_33(nums):
    for i in range(0, len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False
        
has_33([1, 3, 3])

True

**PAPER DOLL: Given a string, return a string where for every character in the original there are three characters.

`paper_doll('Hello')` --> `'HHHeeellllllooo'`  
`paper_doll('Mississippi')` --> `'MMMiiissssssiiissssssiiippppppiii'`

In [48]:
def paper_doll(text):
    new_str = ''
    for letter in text:
        new_str = new_str + (letter * 3)
    return new_str

paper_doll('Hello')

'HHHeeellllllooo'

**BLACKJACK: Given 3 integers between 1 and 11, if their sum is less than or equal to 21, return their sum.  
If their sum exceeds 21 and there's an 11, reduce the total sum by 10.  
Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'.**

`blackjack(5,6,7)` --> 18  
`blackjack(9,9,9)` --> BUST  
`blackjack(9,9,11)` --> 19

In [52]:
def blackjack(a,b,c):
    sum = (a+b+c)
    if sum <= 21:
        return sum
    elif sum > 21 and (a == 11 or b == 11 or c == 11):
        sum -= 10
    elif sum > 21:
        return 'BUST'
    return sum

blackjack(5,6,7)

18

In [53]:
blackjack(9,9,9)

'BUST'

In [54]:
blackjack(9,9,11)

19

**SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.**

`summer_69([1, 3, 5])` --> 9  
`summer_69([4, 5, 6, 7, 8, 9])` --> 9  
`summer_69([2, 1, 6, 9, 11])` --> 14

In [69]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

summer_69([2, 1, 6, 9, 11])

14

**SPY GAME: Write a function that takes in a list of integers and returns `True` if it contains 007 in order.**

`spy_game([1, 2, 4, 0, 0, 7, 5])` --> True  
`spy_game([1, 0, 2, 4, 0, 5, 7])` --> True  
`spy_game([1, 7, 2, 0, 4, 5, 0])` --> False

In [16]:
# Our solution
def spy_game(nums):
    new_str = ''
    for num in nums:
        if num == 0:
            new_str += str(num)
            pass
        if num == 7:
            new_str += str(num)
    if new_str == '007':
        return True
    return False

# Lecture solution
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

spy_game([1, 7, 2, 0, 4, 5, 0])
spy_game([1, 0, 2, 4, 0, 5, 7])
spy_game([1, 2, 4, 0, 0, 7, 5])

True

**COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number.**

By convention we'll treat 0 and 1 as not prime.

`count_primes(100)` --> 25

In [23]:
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    # Store prime numbers
    primes = [2];
    # Counter going up to the input num
    x = 3
    # x is going through every number up to input num
    while x <= num:
        # Check if x is prime
        for y in range(3,x,2):
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

## Lambda Expressions, Map, and Filter Functions

### Map

In [24]:
def square(num):
    return num**2

In [25]:
my_nums = [1,2,3,4,5]

In [26]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [27]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [28]:
def splicer(my_string):
    if len(my_string) % 2 == 0:
        return 'EVEN'
    else:
        return my_string[0]

In [32]:
names = ['Andy', 'Eve', 'Sally']

In [33]:
list(map(splicer, names))

['EVEN', 'E', 'S']

### Filter

In [34]:
def check_even(num):
    return num % 2 == 0

In [35]:
my_nums = [1,2,3,4,5,6]

In [37]:
list(filter(check_even, my_nums))

[2, 4, 6]

### Lambda Expression

In [38]:
def square(num):
    result = num ** 2
    return result

In [39]:
square(3)

9

In [42]:
# Converted into a lambda expression
square = lambda num: num ** 2

In [43]:
square(5)

25

### Lambda Expressions with Map & Filter

In [44]:
list(map(lambda num: num**2, my_nums))

[1, 4, 9, 16, 25, 36]

In [45]:
list(filter(lambda num: num % 2 == 0, my_nums))

[2, 4, 6]

In [48]:
print(names)

['Andy', 'Eve', 'Sally']

In [47]:
list(map(lambda name: name[::-1], names))

['ydnA', 'evE', 'yllaS']

## Nested Statements and Scope

In [49]:
x = 25

def printer():
    x = 50
    return x

In [50]:
print(x)

25

In [51]:
print(printer())

50

## LEGB Rule:
* L: Local - Names assigned in any way within a function (`def` or `lambda`), and not declared global in that function.  
* E: Enclosing function locals - Names in the local scope of any and all enclosing functions (`def` or `lambda`), from inner to outer.
* G: 
* B:

In [56]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    # ENCLOSING
    name = 'Sammy'
    
    def hello():
        # LOCAL
        name = 'IM A LOCAL'
        print('Hello ' + name)
        
    hello()

In [57]:
greet()

Hello IM A LOCAL

In [70]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [71]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [73]:
print(x)

NEW VALUE

## Functions * Methods Homework

**Write a function that computes the volume of a sphere given its radius.**  
The volume of a sphere is given as `(4/3) * pi * r^3`

In [1]:
def vol(rad):
    return (4/3) * 3.14 * (rad**3)

vol(2)

33.49333333333333

**Write a function that checks whether a number is in a given range    (inclusive of high and low).**

In [7]:
def ran_check(num, low, high):
    if num >= low and num <= high:
        # return f'{num} in in the range between {low} and {high}'
        print(f'{num} is in the range between {low} and {high}')
    else:
        print(f'{num} is not in the range between {low} and {high}')
        
def ran_bool(num, low, high):
    if num >= low and num <= high:
        return True
    else:
        return False
    
ran_check(5, 2, 7)
ran_check(5, 5, 7)
ran_check(5, 6, 7)

False

**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

Sample String : `'Hello Mr. Rogers, how are you this fine Tuesday?'`  
Expected Output :  
`No. of Upper case characters : 4`  
`No. of Lower case characters : 33`

HINT: Two string methods that might prove useful: `.isupper()` and `.islower()`.

If you feel amitious, explore the Collections module to solve this problem.

In [11]:
def up_low(s):
    lower_letters = 0
    upper_letters = 0
    for letter in s:
        if letter.islower():
            lower_letters += 1
        elif letter.isupper():
            upper_letters += 1
        else:
            pass
    print(f'No. of Upper case characters : {upper_letters}\nNo. of Lower case characters : {lower_letters}')
    
# dictionary method
def up_low(s):
    d = {'upper': 0, 'lower': 0}
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
    # print(f'No. of Upper case characters : {d[upper']}\nNo. of Lower case characters : {d['lower']}')

In [12]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

Sample List : `[1,1,1,1,2,2,3,3,3,3,4,5]`  
Unique List : `[1,2,3,4,5]`

In [18]:
def unique_list(ls):
    return list(set(ls))

unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

**Write a Python function to multiply all the numbers in a list.**

Sample List : `[1,2,3,-4]`  
Expected Output : `-24`

In [29]:
def multiply(numbers):
    product = numbers[0] # hy is nou 1
    for n in numbers:
        product *= n
    return product
    
multiply([1,2,3,-4])

-24

**Write a Python function that checks whether a word or phrase is a palindrome or not.**

Note: A Palindrome is a word, phrase, or sequence that reads the same backwards as forwards, e.g., madam, kayak, racecar, or a phrase "nurses run".  
HINT: You may want to check out the `.replace()` method in a string to help out with dealing with spaces.  
Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [37]:
def palindrome(s):
    s = s.replace(' ', '')
    return s == s[::-1]

palindrome('nurses run')

True

**Hard:  
Write a Python function to check whether a string is a pangram or not.**

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.

For example : `"The quick brown fox jumps over the lazy dog"`

HINT: Look at the string module

In [41]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    for letter in alphabet:
        if letter in str1:
            return True
    return False
        
ispangram('The quick brown fox jumps over the lazy dog')
ispangram('Waltz, nymph, for quick jigs vex Bud')

# set comparison
def ispangram(str1, alphabet=string.ascii_lowercase):
    # Create a set of the alphabet
    alphaset = set(alphabet)
    
    # Remove any spaces from the input string
    str1 = str1.replace(' ', '')
    
    # Convert into all lowercase
    str1 = str1.lower()
    
    # Grab all unique letters from the string set()
    str1 = set(str1)
    
    # alphabet set === string set input
    return str1 == alphabet

True